<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div>
      <h1>About Us</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, ex
          voluptates obcaecati reiciendis nulla in atque, quas praesentium autem
          laborum architecto repellat ipsam qui, maxime facilis itaque
          perspiciatis accusantium aspernatur! Omnis facere quaerat sapiente,
          impedit accusantium dolor deserunt perferendis delectus repellat non
          veniam recusandae alias animi iste quas dolores qui ipsa officiis beatae
          quia quo libero ex? Dolor, itaque exercitationem. Repellendus,
          laudantium tempora maxime, distinctio laborum similique animi eos
          reprehenderit consequatur totam quidem at quis earum unde natus eaque
          excepturi obcaecati quod, reiciendis nulla? Itaque temporibus beatae
          voluptatibus a placeat eius vero deserunt vitae, sint, adipisci, alias
          tenetur consequatur tempora.
        </p>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
