<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div>
      <h1>Contact Us</h1>
        <p>contact@overstory.ai</p>
        <p>444 Somerville Ave, Somerville</p>
        <p>MA 02143, United States</p>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
